doctype html
html
  head
    link(rel='stylesheet' href='/STB/ADMINLITE/plugins/fontawesome-free/css/all.min.css')
    link(rel='stylesheet' href='/STB/ADMINLITE/dist/css/adminlte.min.css')
    link(rel='stylesheet' href='/STB/ADMINLITE/plugins/fontawesome-free/css/all.min.css')
    link(rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
    link(rel='stylesheet' href='/STB/ADMINLITE/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css')
    link(rel='stylesheet' href='/STB/ADMINLITE/plugins/icheck-bootstrap/icheck-bootstrap.min.css')
    link(rel='stylesheet' href='/STB/ADMINLITE/plugins/jqvmap/jqvmap.min.css')
    link(rel='stylesheet' href='/STB/ADMINLITE/dist/css/adminlte.min.css')
    link(rel='stylesheet' href='/STB/ADMINLITE/plugins/overlayScrollbars/css/OverlayScrollbars.min.css')
    link(rel='stylesheet' href='/STB/ADMINLITE/plugins/daterangepicker/daterangepicker.css')
    link(rel='stylesheet' href='/STB/ADMINLITE/plugins/summernote/summernote-bs4.css')
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700' rel='stylesheet')
    link(rel='stylesheet' href='/STB/ADMINLITE/plugins/fontawesome-free/css/all.min.css')
    link(rel='stylesheet' href='/STB/ADMINLITE/dist/css/adminlte.min.css')
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700' rel='stylesheet')
    script(src='/adminlite/plugins/jquery/jquery.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/STB/SharedComponents/Messaging/messaging-client.js')
    script(src='/STB/SharedComponents/Notification/notification-client.js')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title አምደ ተዋሕዶ
    // Tell the browser to be responsive to screen width
    meta(name='viewport' content='width=device-width, initial-scale=1')
    // Font Awesome
    link(rel='stylesheet' href='static/plugins/fontawesome-free/css/all.min.css')
    // Ionicons
    link(rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
    // icheck bootstrap
    link(rel='stylesheet' href='static/plugins/icheck-bootstrap/icheck-bootstrap.min.css')
    // Theme style
    link(rel='stylesheet' href='static/dist/css/adminlte.min.css')
    // Google Font: Source Sans Pro
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700' rel='stylesheet')
  body.hold-transition.login-page(style="background-image: url('../STB/Account/static/bkgrnd.JPG');")
    .login-box
      // /.login-logo
      .card
        .card-body.login-card-body
          p.login-box-msg
            img.brand-image.img-circle.elevation-3(src='../STB/Account/static/logo.jpg' alt='AdminLTE Logo' style='opacity: .8' width='100')
            br
            br
            | አምደ ተዋሕዶ ሰንበት ትምህርት ቤት ትምህርት ክፍል ፖርታል
            br
            br
            | እንኳን ደህና መጡ
          button.btn.btn-block.btn-primary(onclick="window.location= '/STB/accounts/login'" type='button') ይግቡ
          button.btn.btn-block.btn-primary(onclick="window.location= '/STB/accounts/register'" type='button') መለያ ይፍጠሩ
          script(src='static/plugins/jquery/jquery.min.js')
          // Bootstrap 4
          script(src='static/plugins/bootstrap/js/bootstrap.bundle.min.js')
          // AdminLTE App
          script(src='static/dist/js/adminlte.min.js')
