doctype html
include ../../SharedComponents/Layouts/header.jade
html
  head
    meta(charset='utf-8')
    |   
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |   
    title አምደ ተዋሕዶ | ምዝገባ
    // Tell the browser to be responsive to screen width
    meta(name='viewport', content='width=device-width, initial-scale=1')

  body.hold-transition.register-page(style="background-image: url('../../STB/Account/static/bkgrnd.jpg');")
    .register-box
      //
        <div class="register-logo">
        <a href="/"><b>አምደ ተዋሕዶ ሰንበት ትምህርት ቤት</b></a>
        </div>
      .card
        .card-body.register-card-body
          p.login-box-msg
            img.brand-image.img-circle.elevation-3(src='../../STB/Account/static/logo.jpg', alt='አምደ ተዋሕዶ Logo', style='opacity: .8', width='100')
            br
            br
            | &nbsp;&nbsp;&nbsp; &#x12A0;&#x12F2;&#x1235; &#x12A0;&#x1263;&#x120D; &#x1218;&#x1218;&#x12DD;&#x1308;&#x1262;&#x12EB; &#x1245;&#x133D;
          |       
          form(action='../../STB/Accounts/register', method='post')
            .input-group.mb-3
              input.form-control(type='text', placeholder='ሙሉ ስም', name='name')
              |           
              .input-group-append
                .input-group-text
                  span.fas.fa-user
            |         
            .input-group.mb-3
              input.form-control(type='text', placeholder='የክርስትና ስም', name='cname')
              |           
              .input-group-append
                .input-group-text
                  span.fas.fa-user
            |         
            .form-group
              select.form-control(name='sex')
                option ወንድ
                option ሴት
            .input-group.mb-3
              input.form-control(type='text', placeholder='ስልክ ቁጥር', name='telephone', id='tel')
              |           
              .input-group-append
                .input-group-text
                  span.fas.fa-phone
            |         
            .input-group.mb-3
              input.form-control(type='email', placeholder='ኢ-ሜል', name='email')
              |           
              .input-group-append
                .input-group-text
                  span.fas.fa-envelope
            |         
            .input-group.mb-3
              input.form-control(type='password', placeholder='የይለፍ ቃል', name='password')
              |           
              .input-group-append
                .input-group-text
                  span.fas.fa-lock
            |         
            .input-group.mb-3
              input.form-control(type='password', placeholder='የይለፍ ቃል በድጋሜ', name='rpassword')
              |           
              .input-group-append
                .input-group-text
                  span.fas.fa-lock
            |         
            .row
              br
              |           
              .col-8
                //
                  <div class="icheck-primary">
                  <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                  <label for="agreeTerms">
                  I agree to the <a href="#">terms</a>
                  </label>
                  </div>
              // /.col
              .col-4
                button.btn.btn-primary.btn-block(type='submit') &#x1218;&#x12DD;&#x130D;&#x1260;&#x129D;
              // /.col
          //
            <div class="social-auth-links text-center">
            <p>- OR -</p>
            <a href="#" class="btn btn-block btn-primary">
            <i class="fab fa-facebook mr-2"></i>
            Sign up using Facebook
            </a>
            <a href="#" class="btn btn-block btn-danger">
            <i class="fab fa-google-plus mr-2"></i>
            Sign up using Google+
            </a>
            </div>
          a.text-center(href='../../STB/Accounts/login') &#x1260;&#x12A0;&#x1263;&#x120D;&#x1290;&#x1275; &#x12A8;&#x12DA;&#x1205; &#x1260;&#x134A;&#x1275; &#x1270;&#x1218;&#x12DD;&#x130D;&#x1262;&#x12EB;&#x1208;&#x12CD;
        // /.form-box
      // /.card
    // /.register-box
    // jQuery
    script(src='static/ADMINLITE/plugins/jquery/jquery.min.js')
    // Bootstrap 4
    script(src='static/ADMINLITE/plugins/bootstrap/js/bootstrap.bundle.min.js')
    // AdminLTE App
    script(src='static/ADMINLITE/dist/js/adminlte.min.js')
    script(language='javascript').
