doctype html
include ../../../SharedComponents/Layouts/header.jade
html
  head
    meta(charset='utf-8')
    |   
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |   
    title  መምህራን ምደባ ንዑስ ክፍል ፡ ሰብሳቢ
    // Tell the browser to be responsive to screen width
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Font Awesome
    link(rel='stylesheet', href='static/plugins/fontawesome-free/css/all.min.css')
    // Ionicons
    link(rel='stylesheet', href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
    // Theme style
    link(rel='stylesheet', href='static/dist/css/adminlte.min.css')
    // Google Font: Source Sans Pro
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700', rel='stylesheet')
  body.hold-transition.sidebar-mini
    .wrapper
      // Navbar
      nav.main-header.navbar.navbar-expand.navbar-white.navbar-light
        // Left navbar links
        ul.navbar-nav
          li.nav-item
            a.nav-link(data-widget='pushmenu', href='#')
              i.fas.fa-bars
          |       
          li.nav-item.d-none.d-sm-inline-block
            a.nav-link(href='static/index3.html') Home
          |       
          li.nav-item.d-none.d-sm-inline-block
            a.nav-link(href='#') Contact
        // SEARCH FORM
        // Right navbar links
        ul.navbar-nav.ml-auto
          // Messages Dropdown Menu
          li.nav-item.dropdown
            a.nav-link(data-toggle='dropdown', href='#')
              i.far.fa-comments
              |           
              span.badge.badge-danger.navbar-badge 3
            |         
            .dropdown-menu.dropdown-menu-lg.dropdown-menu-right
              a.dropdown-item(href='#')
                // Message Start
                .media
                  img.img-size-50.mr-3.img-circle(src='static/dist/img/user1-128x128.jpg', alt='User Avatar')
                  |               
                  .media-body
                    h3.dropdown-item-title
                      | Brad Diesel
                      span.float-right.text-sm.text-danger
                        i.fas.fa-star
                    |                 
                    p.text-sm Call me whenever you can...
                    |                 
                    p.text-sm.text-muted
                      i.far.fa-clock.mr-1
                      |  4 Hours Ago
                // Message End
              |           
              .dropdown-divider
              |           
              a.dropdown-item(href='#')
                // Message Start
                .media
                  img.img-size-50.img-circle.mr-3(src='/static/dist/img/user8-128x128.jpg', alt='User Avatar')
                  |               
                  .media-body
                    h3.dropdown-item-title
                      | John Pierce
                      span.float-right.text-sm.text-muted
                        i.fas.fa-star
                    |                 
                    p.text-sm I got your message bro
                    |                 
                    p.text-sm.text-muted
                      i.far.fa-clock.mr-1
                      |  4 Hours Ago
                // Message End
              |           
              .dropdown-divider
              |           
              a.dropdown-item(href='#')
                // Message Start
                .media
                  img.img-size-50.img-circle.mr-3(src='static/dist/img/user3-128x128.jpg', alt='User Avatar')
                  |               
                  .media-body
                    h3.dropdown-item-title
                      | Nora Silvester
                      span.float-right.text-sm.text-warning
                        i.fas.fa-star
                    |                 
                    p.text-sm The subject goes here
                    |                 
                    p.text-sm.text-muted
                      i.far.fa-clock.mr-1
                      |  4 Hours Ago
                // Message End
              |           
              .dropdown-divider
              |           
              a.dropdown-item.dropdown-footer(href='#') See All Messages
          // Notifications Dropdown Menu
          li.nav-item.dropdown
            a.nav-link(data-toggle='dropdown', href='#')
              i.far.fa-bell
              |           
              span.badge.badge-warning.navbar-badge 15
            |         
            .dropdown-menu.dropdown-menu-lg.dropdown-menu-right
              span.dropdown-item.dropdown-header 15 Notifications
              |           
              .dropdown-divider
              |           
              a.dropdown-item(href='#')
                i.fas.fa-envelope.mr-2
                |  4 new messages
                |             
                span.float-right.text-muted.text-sm 3 mins
              |           
              .dropdown-divider
              |           
              a.dropdown-item(href='#')
                i.fas.fa-users.mr-2
                |  8 friend requests
                |             
                span.float-right.text-muted.text-sm 12 hours
              |           
              .dropdown-divider
              |           
              a.dropdown-item(href='#')
                i.fas.fa-file.mr-2
                |  3 new reports
                |             
                span.float-right.text-muted.text-sm 2 days
              |           
              .dropdown-divider
              |           
              a.dropdown-item.dropdown-footer(href='#') See All Notifications
          |       
          li.nav-item
            a.nav-link(data-widget='control-sidebar', data-slide='true', href='#')
              i.fas.fa-th-large
      // /.navbar
      // Main Sidebar Container
      include ../../../SharedComponents/Layouts/sidebarNU.jade
      // Content Wrapper. Contains page content
      .content-wrapper
        // Content Header (Page header)
        section.content-header
          .container-fluid
            .row.mb-2
              .col-sm-6
                h1 መምህራን ምደባ ንዑስ ክፍል
              |           
              .col-sm-6
                ol.breadcrumb.float-sm-right
                  li.breadcrumb-item
                    a(href='#') Home
                  |               
                  li.breadcrumb-item.active User Profile
            .row
              .col-md-12
                .card
                  .card-header.p-2
                    ul.nav.nav-pills
                      li.nav-item
                        a.nav-link.active(href='#activity', data-toggle='tab') አባላት
                      |                   
                      li.nav-item
                        a.nav-link(href='#timeline', data-toggle='tab') Timeline
                  // /.card-header
                  .card-body
                    .tab-content
                      #activity.active.tab-pane
                        script(src="static/viewsOld/AJAX/S_D_Leader/DMembersMM_S.js")
                        div(id="userlist").memberslist
                      #timeline.tab-pane
                        // The timeline
                        .timeline.timeline-inverse
                          // timeline time label
                          .time-label
                            span.bg-danger
                              | 10 Feb. 2014
                          // /.timeline-label
                          // timeline item
                          div
                            i.fas.fa-envelope.bg-primary
                            |                         
                            .timeline-item
                              span.time
                                i.far.fa-clock
                                |  12:05
                              |                           
                              h3.timeline-header
                                a(href='#') Support Team
                                |  sent you an email
                              |                           
                              .timeline-body
                                | Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                                | weebly ning heekya handango imeem plugg dopplr jibjab, movity
                                | jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                                | quora plaxo ideeli hulu weebly balihoo...
                              |                           
                              .timeline-footer
                                a.btn.btn-primary.btn-sm(href='#') Read more
                                |                             
                                a.btn.btn-danger.btn-sm(href='#') Delete
                          // END timeline item
                          // timeline item
                          div
                            i.fas.fa-user.bg-info
                            |                         
                            .timeline-item
                              span.time
                                i.far.fa-clock
                                |  5 mins ago
                              |                           
                              h3.timeline-header.border-0
                                a(href='#') Sarah Young
                                |  accepted your friend request
                          // END timeline item
                          // timeline item
                          div
                            i.fas.fa-comments.bg-warning
                            |                         
                            .timeline-item
                              span.time
                                i.far.fa-clock
                                |  27 mins ago
                              |                           
                              h3.timeline-header
                                a(href='#') Jay White
                                |  commented on your post
                              |                           
                              .timeline-body
                                | Take me to your leader!
                                | Switzerland is small and neutral!
                                | We are more like Germany, ambitious and misunderstood!
                              |                           
                              .timeline-footer
                                a.btn.btn-warning.btn-flat.btn-sm(href='#') View comment
                          // END timeline item
                          // timeline time label
                          .time-label
                            span.bg-success
                              | 3 Jan. 2014
                          // /.timeline-label
                          // timeline item
                          div
                            i.fas.fa-camera.bg-purple
                            |                         
                            .timeline-item
                              span.time
                                i.far.fa-clock
                                |  2 days ago
                              |                           
                              h3.timeline-header
                                a(href='#') Mina Lee
                                |  uploaded new photos
                              |                           
                              .timeline-body
                                img(src='http://placehold.it/150x100', alt='...')
                                |                             
                                img(src='http://placehold.it/150x100', alt='...')
                                |                             
                                img(src='http://placehold.it/150x100', alt='...')
                                |                             
                                img(src='http://placehold.it/150x100', alt='...')
                          // END timeline item
                          div
                            i.far.fa-clock.bg-gray
                      // /.tab-pane
                      #settings.tab-pane
                        form(method="post", action="/updateProfile").form-horizontal
                          .form-group.row
                            label.col-sm-2.col-form-label(for='inputName') ሙሉ ስም
                            |                         
                            .col-sm-10
                              input#inputName.form-control(type='text', placeholder='ሙሉ ስም', value="#{name}", name='name')
                          |                       
                          .form-group.row
                            label.col-sm-2.col-form-label(for='inputEmail') ኢ-ሜል
                            |                         
                            .col-sm-10
                              input#inputEmail.form-control(type='email', placeholder='ኢ-ሜል', value="#{email}", name='email')
                          |                      
                          .form-group.row
                            label.col-sm-2.col-form-label(for='inputTel') ስልክ ቁጥር
                            |                         
                            .col-sm-10
                              input#inputTel.form-control(type='text', placeholder='ስልክ ቁጥር', value="#{telephone}", name='telephone') 
                          |                          
                          .form-group.row
                            label.col-sm-2.col-form-label(for='inputSkills') Skills
                            |                         
                            .col-sm-10
                              input#inputSkills.form-control(type='text', placeholder='Skills')
                          |                       
                          .form-group.row
                            .offset-sm-2.col-sm-10
                              .checkbox
                                label
                                  input(type='checkbox')
                                  |  I agree to the 
                                  a(href='#') terms and conditions
                          |                       
                          .form-group.row
                            .offset-sm-2.col-sm-10
                              button.btn.btn-danger(type='submit') Submit
                      // /.tab-pane
                    // /.tab-content
                  // /.card-body
                // /.nav-tabs-custom
              // /.col
          // /.container-fluid
        // Main content
        section.content
          .container-fluid
          // /.container-fluid
        // /.content
      // /.content-wrapper
      footer.main-footer
        .float-right.d-none.d-sm-block
          b Version
          |  3.0.2-pre
        |     
        strong
          | Copyright &copy; 2014-2019 
          a(href='http://adminlte.io') AdminLTE.io
          | .
        |  All rights
        |     reserved.
      // Control Sidebar
      aside.control-sidebar.control-sidebar-dark
        // Control sidebar content goes here
      // /.control-sidebar
    // ./wrapper
    // jQuery
    script(src='static/plugins/jquery/jquery.min.js')
    // Bootstrap 4
    script(src='static/plugins/bootstrap/js/bootstrap.bundle.min.js')
    // AdminLTE App
    script(src='static/dist/js/adminlte.min.js')
    // AdminLTE for demo purposes
    script(src='static/dist/js/demo.js')
