strong
    | Copyright &copy; 2021 webapp designed and developed by
    a(href='https://www.linkedin.com/in/abrham-getachew-560887184/')  Abrham Getachew
    | . All rights reserved.
    br
    |     Front end template provided by 
    a(href='http://adminlte.io') AdminLTE.io
// Control Sidebar
aside.control-sidebar.control-sidebar-dark