footer.main-footer
.float-right.d-none.d-sm-block
    b Version
    |  3.0.2-pre
|     
strong
    | Copyright &copy; 2020 site developed by
    |
    a(href='http://adminlte.io') Abrham
    | .
    | 2014-2019 by using templates of
    a(href='http://adminlte.io') AdminLTE.io
    | .
|  All rights
|     reserved.
// Control Sidebar
aside.control-sidebar.control-sidebar-dark