footer.main-footer
.float-right.d-none.d-sm-block
    b Version
    |  3.0.2-pre
|     
strong
    | Copyright &copy; 2014-2019 
    a(href='http://adminlte.io') AdminLTE.io
    | .
|  All rights
|     reserved.
// Control Sidebar
aside.control-sidebar.control-sidebar-dark