nav.main-header.navbar.navbar-expand.navbar-white.navbar-light
  // Left navbar links
  ul.navbar-nav
    li.nav-item
      a.nav-link(data-widget='pushmenu', href='#')
        i.fas.fa-bars

      
  // SEARCH FORM
  // Right navbar links
  ul.navbar-nav.ml-auto
    li.nav-item
      a(href="../../../Accounts/home" class="nav-link") 
        i.fas.fa-home
    // Messages Dropdown Menu
    //- li.nav-item.dropdown
      a.nav-link(data-toggle='dropdown', href='#', onClick = "LoadMessagingNotification();")
        i.far.fa-comments(onClick = "LoadMessagingNotification();")
        |           
        span.badge.badge-danger.navbar-badge 3
      |         
      .dropdown-menu.dropdown-menu-lg.dropdown-menu-right#messageNotification
        a(href="#" class="dropdown-item")
          div(class="media")
            div(class="media-body")
              h3(class="dropdown-item-title") Loading...
    // Notifications Dropdown Menu
    //- li.nav-item.dropdown
      a.nav-link(data-toggle='dropdown', href='#', onClick = "LoadNotification()")
        i.far.fa-bell
        |           
        span.badge.badge-warning.navbar-badge 15
      |         
      .dropdown-menu.dropdown-menu-lg.dropdown-menu-right#Notification
        .dropdown-divider
        | 
        span.dropdown-item.dropdown-header 15 Notifications         
        .dropdown-divider
// /.navbar