doctype html
include ./Layouts/header
html
  head
    meta(charset='utf-8')
    |   
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |   
    title ችግር ተፈጥሯል
    // Tell the browser to be responsive to screen width
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Font Awesome
    link(rel='stylesheet', href='static/plugins/fontawesome-free/css/all.min.css')
    // Ionicons
    link(rel='stylesheet', href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
    // icheck bootstrap
    link(rel='stylesheet', href='static/plugins/icheck-bootstrap/icheck-bootstrap.min.css')
    // Theme style
    link(rel='stylesheet', href='static/dist/css/adminlte.min.css')
    // Google Font: Source Sans Pro
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700', rel='stylesheet')
  body.hold-transition.login-page
    .login-box
      // /.login-logo
      .card
        .card-body.login-card-body
          p.login-box-msg
            img.brand-image.img-circle.elevation-3(src='../../../../../../../../STB/Account/static/logo.jpg', alt='Amde Tewahido Logo', style='opacity: .8', width='250')
            br
            br
            | 
            center
              h1.headline.text-danger ችግር ተፈጥሯል!         
              h6 #{message}
        // /.login-card-body
    // /.login-box
    // jQuery
    script(src='static/plugins/jquery/jquery.min.js')
    // Bootstrap 4
    script(src='static/plugins/bootstrap/js/bootstrap.bundle.min.js')
    // AdminLTE App
    script(src='static/dist/js/adminlte.min.js')
