doctype html
html
    head   
        title Home
    body
        h1 Home page
        a(href="/register") Create an account
        br
        a(href="/login") Log in
        script(src="static/viewsOld/AJAX/D_Leader/DMembersAT.js")
        div(id="userlist").memberslist
        div(id=5)

